<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <section class="career">
        <h3><b>Join Our Team</b></h3>
        <div class="career-form">
            <form id="careerForm" action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="7e29e32d-4389-4048-95e4-d15317816d29" />
                <div class="form-group">
                    <input type="text" id="firstName" name="firstName" placeholder="First Name *" required />
                </div>
                <div class="form-group">
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name *" required />
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="E-Mail Address *" required />
                </div>
                <div class="form-group">
                    <input type="tel" id="phone" name="phone" placeholder="Phone Number *" required />
                </div>
                <div class="form-group">
                    <input type="text" id="location" name="location" placeholder="Current Location *" required />
                </div>
                <div class="form-group">
                    <textarea name="skills" placeholder="Your Skills..."></textarea>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx" />
                </div>
                <div class="or-divider">OR</div>
                <div class="form-group">
                    <input type="url" id="profile-link" name="profile-link" placeholder="https://example.com/your-profile" />
                </div>
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
