<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="about">
      <div class="aboutus">
        <h2><b>About Us</b></h2>
      </div>
      <div class="aboutcontainer">
        <p>
          Saish Software Solutions provides a full range of solutions including
          Contractual and Permanent staffing, Outsourcing, Facility Management
          and other workforce solutions in the areas of engineering, finance,
          accounting, human resources, IT, manufacturing and logistics, and
          sales and marketing.
        </p>
      </div>
    </section>
  </body>
</html>
