.navbar {
    min-width: none;
    background-color: rgb(255, 129, 27);    
}
.company-name {
    display: flex;
    line-height: 1;
    flex-direction: column;
    align-items: end;
    margin-right: auto;
}

mat-icon {
    color: white;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 20px;
    font-size: 40px;
}

.company-name h1 {
    font-family: verdana;
    color: white;
    margin: 0;
    font-size: 24px;
}

.company-name .tagline {
    text-wrap: wrap;
    justify-content: end;
    font-size: 10px;
    color: #e2e2e2;
}

span {
    color: white;
}

.spacer {
    display: flex;

    text-align: end;
}
.spacer a {
    font-size: .8em;
    color: white;
}

body{
    min-width: none;
    margin: 0;
    padding: 0;
}